.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #777e87;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 2em;
  background-color: #c2c9d2;
}

.page-body {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
}

.logo-container {
  width: 5em;
  float: left;
  display: inline-block;
}

.logo-container a {
  background-image: url(http://localhost:3000/rocket-arrow-with-d.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 5em;
  height: 5em;
}

.menu-container {
  float: right;
  display: inline-block;
}

.intro-wrapper {
  display: flex;
}

.intro-wrapper div.greeting {
  font-family: BirthstoneBold;
  font-size: 6em;
  display: block;
  color: #1a237e;
}

.intro-wrapper h1 {
  font-family: RalewayBold;
  font-size: 3em;
  color: #f2f4f7;
  margin: 0 0 0 0.1em;
  display: inline-block;
}

.greeting-text {
  vertical-align: top;
  font-size: 1.25em;
}

.intro-wrapper div {
  color: #f2f4f7;
  font-family: Roboto;
  display: inline-block;
  margin: 0.5em 0 0 0;
}

.intro-text {
  color: #c2c9d2;
  margin: 1em 0 0 0;
  font-size: 1.25em;
  padding: 0 2em 0 0;
}

.intro-image-container {
  display: inline-flex;
  align-self: flex-end;
}

.intro-image {
  width: 30em;
  padding: 3em 0 0 0;
}

.skills-title {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #c2c9d2;
  margin: 2em 0 0 0;
}

.skills-container {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  color: #c2c9d2;
  display: flex;
  flex-direction: row;
}

.skills-container {
  margin: 2em 0 0em 0;
}

.skills-image-wrapper {
  display: inline-flex;
  margin: 0 10em 0 0;
}

.skills-image {
  width: 20em;
}

.skills-wrapper {
  display: inline-block;
}

.skills-list {
  display: inline-flex;
  flex-direction: column;
  margin: 0.5em 3em 0 0;
}

.skills-list h3,
.skills-list h5 {
  margin: 0;
}

.skills-list h5 {
  font-style: italic;
}